# 依赖和构建目录  
node_modules  
.next  
out  
build  
dist  
assets

# 系统和缓存文件  
.DS_Store  
.swc  
.turbo  

# 日志文件  
*.log  

# 环境文件  
.env*  

# 测试覆盖率  
coverage  

# 打包输出  
*.tgz  

# 其他忽略文件
/public/pdfjs/*