@theme {
  --animate-blink: blink 1.4s infinite;
  --animate-scale-x-in: scaleXIn 0.3s 0.5s ease-in forwards;
  --animate-text-brush: textBrush 0.8s forwards 0.3s;
  --animate-shimmer: shimmer 3s infinite;
  --animate-fade-in2: fadein2 0.3s ease-in-out;

  @keyframes blink {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes scaleXIn {
    from {
      transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0))
        rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0))
        skewY(var(--tw-skew-y, 0)) scaleX(0) scaleY(var(--tw-scale-y, 1));
    }
    to {
      transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0))
        rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0))
        skewY(var(--tw-skew-y, 0)) scaleX(1) scaleY(var(--tw-scale-y, 1));
    }
  }

  @keyframes textBrush {
    0%,
    100% {
      color: inherit;
    }
    25%,
    75% {
      color: #7450ff;
    }
    50% {
      color: #7aa0f8;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -100% top;
    }
    100% {
      background-position: 250% top;
    }
  }

  @keyframes fadein2 {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* 阴影和 z-index 也可以定义为 tokens */
  --shadow-shallow-near:
    0 2px 8px var(--color-shadow-overflow-2),
    0 4px 16px var(--color-shadow-overflow-2),
    0 8px 32px var(--color-shadow-overflow-2);

  --shadow-black-middle:
    0 0 0 1px #ffffff1f, 0 2px 8px -4px var(--color-shadow-overflow-8),
    0 4px 16px var(--color-shadow-overflow-12),
    0 8px 32px 8px var(--color-shadow-overflow-4);

  --shadow-black-far:
    0 0 0 1px #ffffff1f, 0 4px 16px -8px var(--color-shadow-overflow-16),
    0 8px 32px var(--color-shadow-overflow-12),
    0 16px 64px 16px var(--color-shadow-overflow-8);

  --z-1: 1;
}
