@layer components {
  .skeleton {
    background-image: linear-gradient(
      91deg,
      rgba(114, 118, 139, 0.06) 0.89%,
      rgba(114, 118, 139, 0.16) 50.35%,
      rgba(114, 118, 139, 0.06) 99.82%
    );
    background-size: 200% 100%;
    animation: skelLoading 2s ease infinite;
    animation-delay: 0s;
    animation-play-state: paused;
  }

  @keyframes skelLoading {
    0% {
      background-position: 100% 0;
    }
    to {
      background-position: -100% 0;
    }
  }
}
